{% import '/macro/section.html.twig' as section %}
{{section.sectionstart("Expériences",{id:'experiences',bgColor:'bg-primary text-white',color:'text-white',dividerColor:'divider-light', divider:'fa fa-building'})}}
        <!-- Experience Section Content-->

        {{section.experience('Sept. 2021 à Sept. 2022', 'Paris', 'OpenClassRooms', "Développeur d'Application option PHP-Symfony", "<ul>
                    <li>Intégrations WordPress</li>
                    <li>Rédaction documentation pour utilisateur non spécialistes</li>
                    <li>Analyse et rédaction cahier des charges</li>
                    <li>Réalisation Maquette HTML</li>
                    <li>Réalisation de schémas UML</li>
                    <li>Conception et gestion base de données SQL</li>
                    <li>Conception de sites PHP avec architecture MVC</li>
                    <li>Tests unitaires</li>
                </ul>", {formation:'true',class:'SlidInLeftAnimation'})}}


        {{section.experience('Avril 2012 à Sept. 2021', 'Paris', 'Fédération Française du Sport Adapté', "Technicien informatique et bureautique", "<ul>
                    <li>Gestion des demandes et incidents informatiques</li>
                    <li>Qualification fonctionnelle et technique des outils mis à la disposition des utilisateurs ;</li>
                    <li>Administration système et réseau : Gestion des Sauvegardes, surveillance des serveurs, des
                        imprimantes, serveur de messagerie, hébergement web, visioconférence.</li>
                    <li>Gestion du parc informatique</li>
                    <li>Gestion de la téléphonie TO/IP</li>
                </ul>", {contexte:"Contexte : Administration et support informatique au siège de la fédération et sur le territoire national (114 Comités départementaux et ligues régionales).",class:'SlidInRightAnimation'})}}


        {{section.experience('Sept. 2008 à Avril 2012', 'Paris', 'La Banque Postale', "Technicien de proximité VIP", "<ul>
                    <li>Support aux utilisateurs VIP et autres</li>
                    <li>Traitement des demandes et des incidents informatiques</li>
                    <li>Gestion de l'Active Directory</li>
                    <li>Gestion des sauvegardes</li>
                    <li>Gestion du parc informatique</li>
                    <li>Gestion de la téléphonie TO/IP et PDA (BlackBerry, IPhone)</li>
                    <li>Administration système et réseau de niveau 1</li>
                    <li>Assistance Visio/Audio Conférence</li>

                </ul>", {contexte:"Contexte : Support de proximité auprès d’une population VIP - environ 3000 postes, environ 20
                    serveurs, 2 robots de sauvegardes, 6 immeubles avec plus de 3000 utilisateurs.",class:'SlidInLeftAnimation'})}}

        
        {{section.experience('Juil. 2008 à Sept. 2008', 'Paris', "Ministère de l'éducation", "Technicien de déploiement", "<ul>
                    <li>Déploiement de postes informatiques.</li>
                    <li>Installation d'applications diverses</li>
                    <li>Résolutions des incidents informatiques</li>
                    <li>Déménagement de postes informatiques et Brassage réseau</li>
                </ul>", {contexte:"Contexte : Déploiement de postes de travail au ministère de l’éducation – Installations et
                    configurations de postes de travail.",class:'SlidInRightAnimation'})}}


        {{section.experience('2003', 'Cachan (94)', "Lycée Maximilien Sorre", "Diplôme Baccalauréat STT option Informatique et Gestion", "", {formation:'true',class:'SlidInLeftAnimation'})}}

{{section.sectionend()}}