{% import '/macro/form.html.twig' as form %}
{% extends "layout.html.twig" %}
{% block navbar %}{% set urlblog = "/" %} {% set url = "/" %} {{ parent() }}{% endblock
%}
{% block content %}
{% if session.login.userType == 'admin' %}
<header id="adminBlog" class="page-section bg-light border-bottom mb-4 hero_adminblog">
    <div class="container">
        <div class="text-center mt-5">
            <h1 class="fw-bolder text-light">Administration Blog</h1>

        </div>
    </div>
</header>


<div class="container-fluid my-5 text-primary d-flex align-item-center justify-content-center">
    
    <div class="row d-flex align-item-center justify-content-center mb-1">
        <div class="col d-flex align-item-center justify-content-center">
            <div class="card text-white bg-primary mb-3" style="width: 24rem;">
                <div class="card-header h5 d-flex align-items-center justify-content-between"><i class="far fa-newspaper fa-2x"></i>Articles <span>&nbsp;</span></div>
                <div class="card-body">
                    <!--<p class="card-text mb-1">Créer, modifier ou supprimer un article</p>-->
                    <p class="card-text mb-1"><span class="badge badge-light h5 mx-4">{{AllPostsCounterActive}}</span>  articles publiés</p>
                    <p class="card-text mb-1"><span class="badge badge-light h5 mx-4">{{AllPostsCounterDisable}}</span>  articles en brouillon</p>
                    <p class="card-text mb-1"><span class="badge badge-light h5 mx-4">{{AllPostsCounterArchived}}</span>  articles archivés</p>
                    <p class="card-text mb-1"><span class="badge badge-light h5 mx-4">{{AllCategoriesCounter}}</span> catégories</p>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="/postManager">Administrer</a>
                    <div class="small"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col d-flex align-item-center justify-content-center">
            <div class="card bg-light mb-3" style="width: 24rem;">
                <div class="card-header h5 d-flex align-items-center justify-content-between"><i class="far fa-comments fa-2x"></i>Commentaires <span>&nbsp;</span></div>
                <div class="card-body">
                    <!--<p class="card-text mb-1">Valider, modifier ou supprimer un commentaire</p>-->
                    
                    <p class="card-text mb-1"><span class="badge badge-primary h5 mx-2">{{AllCommentsCounterActive}}</span>  commentaires approuvés</p>
                    
                    <p class="card-text mb-1"><span class="badge badge-primary h5 mx-2">{{AllCommentsCounterPending}}</span>  commentaires en attente validation</p>
                    <p class="card-text mb-1"><span class="badge badge-primary h5 mx-2">{{AllCommentsCounterDisable}}</span>  commentaires désapprouvés</p>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-primary stretched-link" href="/commentManager">Administrer</a>
                    <div class="small"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    
        <div class="col d-flex align-item-center justify-content-center">
            <div class="card bg-steel text-white mb-3" style="width: 24rem;">
                <div class="card-header h5 d-flex align-items-center justify-content-between"><i class="fa fa-users fa-2x"></i>Utilisateurs <span>&nbsp;</span></div>
                <div class="card-body">
                    <!--<p class="card-text mb-1">Valider, modifier ou supprimer un utilisateur</p>-->

                    <p class="card-text mb-1"><span class="badge badge-light h5 mx-4">{{AllUsersCounterAdmin}}</span>  Administrateurs</p>
                    <p class="card-text mb-1"><span class="badge badge-light h5 mx-4">{{AllUsersCounterMember}}</span>  Membres</p>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="/userManager">Administrer</a>
                    <div class="small"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <!--<div class="col d-flex align-item-center justify-content-center">
            <div class="card bg-secondary  mb-3" style="width: 24rem;">
                <div class="card-header h5 d-flex align-items-center justify-content-between"><i class="fa fa-sitemap fa-2x"></i>Catégories <span class="badge badge-primary">{{AllCategoriesCounter}}</span></div>
                <div class="card-body">
                  <p class="card-text mb-1">Valider, modifier ou supprimer une catégorie</p>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-primary stretched-link" href="/categoryManager">Administrer</a>
                    <div class="small"><i class="fas fa-angle-right"></i></div>
                </div>
              </div>

        </div>-->
    </div>

</div>




{% endif %}
{% endblock %}