{% if session.login.userType == 'admin' %}

<!-- Comments user-->
<div class="userShow-{{user.id }}-modal modal fade" id="userShow-{{user.id }}" tabindex="-1" aria-labelledby="userShow-{{user.id }}" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                    aria-label="Close"></button></div>
            <div class="modal-body pb-5 mb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 ">
                            <div class="card text-primary mb-4">
                                <h5 class="fw-bolder text-light bg-primary py-3 rounded text-center">Détail utilisateur
                                </h5>

                                <div class="card-body">
                                    <div class="row my-2">
                                        <div class="col">Utilisateur :</div>
                                        <div class="col">{{ user.firstName|capitalize ~ " " ~ user.lastName|upper }}</div>
                                    </div>



          <div class="row my-2">
            <div class="col">Type :</div>
            <div class="col">{{ user.userType|capitalize }}</div>
        </div>

        <div class="row my-2">
            <div class="col">Inscrit le :</div>
            <div class="col">{% if user.regitrationDate %}{{user.regitrationDate|date("d/m/Y H:i")}}{% endif %}</div>
        </div>

        <div class="row my-2">
            <div class="col">Dernière connexion :</div>
            <div class="col">{% if user.lastConnectionDate %}{{user.lastConnectionDate|date("d/m/Y H:i")}}{% endif %}</div>
        </div>

        <div class="row my-2">
            <div class="col">Statut :</div>
            <div class="col">{% if user.status == 1 %}<span class="badge badge-primary">Actif</span>{% else %}<span class="badge badge-danger">Inactif</span>{% endif %}</div>
        </div>
                                    <div class="row my-2">
                                        <div class="col">E-mail :</div>
                                        <div class="col">{{user.email }}</div>
                                    </div>
                                    <div class="row my-2">
                                        <div class="col">Téléphone : </div>
                                        <div class="col">{{user.phone }}</div>
                                    </div>
                                
                                    <div class="row my-2">
                                        <div class="col">Lien CV : </div>
                                        <div class="col">{{user.cvLink }}</div>
                                    </div>
                                    <div class="row my-2">
                                        <div class="col">Twitter : </div>
                                        <div class="col">{{user.twitter }}</div>
                                    </div>
                                    <div class="row my-2">
                                        <div class="col">GitHub : </div>
                                        <div class="col">{{user.gitHub }}</div>
                                    </div>
                                    <div class="row my-2">
                                        <div class="col">LinkedIn : </div>
                                        <div class="col">{{user.linkedIn }}</div>
                                    </div>


                                </div>





                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endif %}